.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.EntirePage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top{
    margin-top: -20px;
    font-size: 7px;
    display: flex;
    flex-direction: row;
    height: 80px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.page{
    width: 300px;
    padding: 55px;
    border-radius: 5px;
    border-bottom-right-radius: 150px;
    background-color: white;
    margin-bottom: -15px;
}
body{
    background-color: lightgrey;
    height: 100%;
}
.Bottom{
    height: 100px;
    gap: -20px;
}
.results{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-bottom: -60px;
}
 .Separator{
     display: flex;
     border: 1px solid black;
     width: 400px;

 }
.button{
    margin-left: -85px;
    margin-top: 50px;
    display: inline-block;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 50%;
    height: 50px;
    border: none;
}

.box{
    border: 0.5px solid black;
}